table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-collapse: collapse; /*removes the border... from sight.*/
    text-align: center;
}
tr{
    height: 16vh; /*vertical height*/
    background-color: #2b2e2a;
}
td{
    width: 25vw; /*vertical width*/
    border: 1px solid #2b2e2a;
}

#inputBox{
    background-color: #2b2e2a;
    font-size:70px;
    color:#fff;
    border:0;
    width:99%;
    text-align: left;
}
.digi{
    background-color: #4e5a2b;
    color: #fff;
}
.oper{
    background-color: #ac7222;
    color:#fff;
}
.clear{
    background-color: #2b2e2a;
    color:#fff;
}